# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
*/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System files
.DS_Store
Thumbs.db

# Backend
/env
db.sqlite3

# Custom
*.drawio
*.todo
backend/*.rest
**/tests/default_tests.py
**/tests/test_login.py
**/tests/test_registration.py
**/tests/test_offer.py
**/tests/test_order.py